.Grid--container {
    display: flex;
}

.Grid--inline {
    display: inline-flex;
}

/* Wrap */
.Grid--wrap-wrap {
    flex-wrap: wrap;
}

.Grid--wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Direction */
.Grid--direction-row-reverse {
    flex-direction: row-reverse;
}

.Grid--direction-column {
    flex-direction: column;
}

.Grid--direction-column-reverse {
    flex-direction: column-reverse;
}

/* Justify */
.Grid--justify-center {
    justify-content: center;
}

.Grid--justify-flex-end {
    justify-content: flex-end;
}

.Grid--justify-space-between {
    justify-content: space-between;
}

.Grid--justify-space-around {
    justify-content: space-around;
}

.Grid--justify-space-evenly {
    justify-content: space-evenly;
}

/* AlignItems */
.Grid--align-items-flex-start {
    align-items: flex-start;
}

.Grid--align-items-center {
    align-items: center;
}

.Grid--align-items-flex-end {
    align-items: flex-end;
}

.Grid--align-items-baseline {
    align-items: baseline;
}

/* AlignContent */
.Grid--align-content-flex-start {
    align-content: flex-start;
}

.Grid--align-content-center {
    align-content: center;
}

.Grid--align-content-flex-end {
    align-content: flex-end;
}

.Grid--align-content-space-between {
    align-content: space-between;
}

.Grid--align-content-space-around {
    align-content: space-around;
}

/* Other */
.Grid--zero-min-width {
    min-width: 0;
}