:root {
    /**
     * Default
     */

    /* Brand */
    --primary: #456BF1;
    --secondary: color(#456BF1 alpha(10%));

    /* OnSurface */
    --os-primary: color(black alpha(90%));
    --os-secondary: color(black alpha(60%));
    --os-tertiary: color(black alpha(30%));

    /* OnPrimary */
    --op-primary: #FFF;
    --op-secondary: color(white alpha(70%));

     /* Helpers */
    --error: #E12F2F;
    --error-secondary: color(#E12F2F alpha(10%));
    --success: #3FA44B;
    --success-secondary: color(#3FA44B alpha(10%));

    /* Surface */
    --background: #F7F7F7;
    --surface: #FFF;
    --accent: color(black alpha(3%));
    --blur-overlay: color(white alpha(70%));
    --blur-overlay-fallback: #FFF;

    /* State */
    --unselect: color(white alpha(3%));
    --reply: #000;

    /* Font */
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-30: 30px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    /* ––––––––––––––––––––––––––––––––––––––––––––––– */



    /**
     * Components
     */

     /* Button */
    --button_width-mobile: 270px;
    --button_circle-before: var(--primary);

    --button_unselect-background: var(--unselect);
    --button_unselect-color: var(--os-tertiary);
    --button_unselect-before: #000;

    --button_primary-background: var(--primary);
    --button_primary-color: #FFF;
    --button_primary-before: #FFF;

    --button_secondary-background: var(--secondary);
    --button_secondary-color: var(--primary);
    --button_secondary-before: var(--primary);
    --button_secondary-unselect: var(--accent);

    --button_tertiary-background: #FFF;
    --button_tertiary-color: var(--primary);
    --button_tertiary-before: var(--primary);

    /* Field */
    --field_label-primary: var(--primary);
    --field_label-secondary: var(--os-secondary); 

    --field_body-primary: var(--secondary);
    --field_body-secondary: var(--accent);
    --field_body-error: var(--error-secondary);

    --field_control-placeholder: var(--os-tertiary);

    --field_counter: var(--os-tertiary);
    --field_counter-max: var(--error);

    --field_hint-error: var(--error);
}