.Field--promo .Field__body:not(.Field__body--focused):not(.Field__body--error) {
    background-color: transparent;
}

.Field__label,
.Field__hint {
    color: var(--field_label-secondary);

    transition-property: color, opacity;
    transition: 150ms ease-in;
}

.Field__label--focused {
    color: var(--field_label-primary);
}

.Field__body {
    border-radius: 4px;

    background-color: var(--field_body-secondary);
    transition: background-color 150ms ease-in;
}

.Field__body--error {
    background-color: var(--field_body-error);
}

.Field__body--focused {
    background-color: var(--field_body-primary);
}

.Field__control {
    width: 100%;
    height: 20px;

    border: 0;

    background-color: transparent;

    overflow-y: hidden;
    outline: none;
}

.Field__control::placeholder {
    color: var(--field_control-placeholder);
}

.Field__aside {
    flex-shrink: 0;
}

.Field__counter {
    max-height: 20px;

    color: var(--field_counter);

    overflow: hidden;
    transition: max-height 100ms ease-in;
}

.Field__counter--hide {
    max-height: 0;
}

.Field__counter--max {
    color: var(--field_counter-max);
}

.Field__hint--error {
    color: var(--field_hint-error);
}