.Checkbox {
    cursor: pointer;
}

.Checkbox__input {
    position: absolute;
    z-index: -1;
    appearance: none;
    opacity: 0;
}

/* Sizes */
.Checkbox--small {
    --checkbox_check: var(--checkbox_background);

    min-height: 16px;
    padding-left: 16px;
}

.Checkbox--medium {
    min-height: 36px;

    padding-top: 9px;
    padding-left: 36px;
}

/* Control */
.Checkbox__control {
    position: absolute;

    width: 16px;
    height: 16px;
    margin-left: -16px;

    transition: transform 150ms ease-in;
}

.Checkbox__control::before,
.Checkbox__check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
}

.Checkbox__control::before {
    transform: translate(-50%, -50%);
    z-index: 1;

    display: block;
    content: '';

    width: 6px;
    height: 6px;

    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--checkbox_background);

    transition-property: transform, opacity;
    transition: 150ms ease-in;
}

.Checkbox__check {
    transform: scale(0) translate(-50%, -50%);
    z-index: 2;

    fill: var(--checkbox_check);

    transition: transform 150ms ease-in;
}

.Checkbox--medium .Checkbox__control {
    width: 36px;
    height: 36px;
    margin-top: -9px;
    margin-left: -36px;
}

.Checkbox--medium .Checkbox__control::before {
    width: 14px;
    height: 14px;

    border-radius: 1px;

    box-shadow: 0 0 0 2px var(--checkbox_background);

    transition-property: box-shadow;
}

/* Checked */
.Checkbox--small .Checkbox__input:checked + .Checkbox__control::before {
    opacity: 0;
    transform: scale(0, 0) translate(-50%, -50%);
}

.Checkbox__input:checked + .Checkbox__control .Checkbox__check {
    transform: scale(1) translate(-50%, -50%);
}

.Checkbox--medium .Checkbox__input:checked + .Checkbox__control::before {
    background-color: var(--checkbox_background);
    box-shadow:
        0 0 0 2px var(--checkbox_background),
        inset 0 0 0 7px var(--checkbox_background);
}

/* Focused */
.Checkbox__input:focus + .Checkbox__control {
    transform: scale(1.2);
}

/* Disabled */
.Checkbox__input:disabled + .Checkbox__control {
    opacity: 0.3;
}